[MASTER]
ignore=.git, __pycache__, .pytest_cache, allure-report, allure-results

[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    W0613,
    W0621,
    C0411,
    C0207,
    W1514,
    W1309,
    C0301,
    E0401,
    W0612

[FORMAT]
max-line-length=120
